.countdown-container{
    padding-top: 60px;
    margin-left: 30px;
    width: 830px;
}

.time-container{
    display: inline-block;
    width: 24%;
}

.time-container div{
    font-size: 40px;
    align-items: center;
    text-align: center;
}

.line{
    height: 10px;
    width: 80%;
    margin-left: 30px;
    background-color: #0099ff;
    border-radius: 5px;
}