<div class="countdown-container">
    <div class="time-container">
        <div class="secondaryColor">{{days}}</div>
        <div class="line"></div>
        <div class="secondaryColor">Days</div>
    </div>
    <div class="time-container">
        <div class="secondaryColor">{{hours}}</div>
        <div class="line"></div>
        <div class="secondaryColor">Hours</div>
    </div>
    <div class="time-container">
        <div class="secondaryColor">{{minutes}}</div>
        <div class="line"></div>
        <div class="secondaryColor">Minutes</div>
    </div>
    <div class="time-container">
        <div class="secondaryColor">{{seconds}}</div>
        <div class="line"></div>
        <div class="secondaryColor">Seconds</div>
    </div>
</div>
